# Jeopardy Project 
## Project provided by Codecademy
### Goals: "You will work to write several functions that investigate a dataset of Jeopardy! questions and answers. Filter the dataset for topics that youâ€™re interested in, compute the average difficulty of those questions, and train to become the next Jeopardy champion!"

In [1]:
import pandas as pd
import random

#Loading data
jeopardy = pd.read_csv('jeopardy.csv')

In [2]:
#Inspecting Data
print(jeopardy.head())

#Renaming columns so that they have proper variable names and making them all lowercase
jeopardy.columns = jeopardy.columns.str.lower()
jeopardy.rename(columns={'show number': 'show_number', ' air date': 'air_date'}, inplace = True)

#Removing the leading space in the column names
jeopardy.columns = jeopardy.columns.str.replace(' ', '')

print(jeopardy.head())

   Show Number    Air Date      Round                         Category  Value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY   $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES   $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...   $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE   $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES   $200

                                            Question      Answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams
   show_number    air_date      round                         category value  \
0         4680  2004-12-31  Jeopardy!                          HISTORY  $200
1         4680  2004-12-31  Jeopardy!  ESPN's TOP 10 ALL-TIME ATHLETES  $200
2         4680  2004-12-31  Jeopardy!      EVERYBODY TALKS ABOUT IT...  $200
3         4680  2004-12-31  Jeopardy!                 THE COMPANY LINE  $200
4         4680  2004-12-31  Jeopardy!              EPITAPHS & TRIBUTES  $200

                                            question      answer
0  For the last 8 years of his life, Galileo was ...  Copernicus
1  No. 2: 1912 Olympian; football star at Carlisl...  Jim Thorpe
2  The city of Yuma in this state has a record av...     Arizona
3  In 1963, live on "The Art Linkletter Show", th...  McDonald's
4  Signer of the Dec. of Indep., framer of the Co...  John Adams

In [3]:
#Function that filters the datset for questions that contains all the words in a list
def words_in_question(words):
    for word in words:
        questions = jeopardy[jeopardy['question'].str.contains(word)]
    return questions

# Testing words_in_question fucntion
print(words_in_question(['Puccini']))

        show_number    air_date             round                   category  \
3723           4398  2003-10-22         Jeopardy!                      OPERA
4970           3003  1997-09-24  Double Jeopardy!            MUSICAL THEATRE
12286          5332  2007-11-13  Double Jeopardy!                      OPERA
14315          1429  1990-11-15  Double Jeopardy!                      OPERA
15951          3660  2000-06-30         Jeopardy!            NEWS FLASH 1896
28387          4714  2005-02-17  Double Jeopardy!                      OPERA
42342          1605  1991-07-19  Double Jeopardy!                DOUBLE TALK
43529          6131  2011-04-18         Jeopardy!       BACKSTAGE AT THE MET
52465          1871  1992-10-26  Double Jeopardy!                 OLD MOVIES
53669          5138  2007-01-03  Double Jeopardy!           OPERA CHARACTERS
55270          5201  2007-04-02  Double Jeopardy!       AN OPERATIC CATEGORY
55711          2929  1997-05-01  Double Jeopardy!           OPERATIC DEMISES
55892          3286  1998-12-14  Double Jeopardy!                      OPERA
56946          4896  2005-12-19  Double Jeopardy!                      OPERA
58294          3654  2000-06-22  Double Jeopardy!        CROSSWORD CLUES "T"
60116          5483  2008-06-11  Double Jeopardy!                      OPERA
68794          5931  2010-05-31  Double Jeopardy!           ARE YOU AN -INI?
72653          3805  2001-03-02  Double Jeopardy!           SCRAMBLED OPERAS
76747          3233  1998-09-30  Double Jeopardy!             OPERA & BALLET
85802          5353  2007-12-12  Double Jeopardy!                      OPERA
91388          3356  1999-03-22  Double Jeopardy!                      OPERA
110152         5093  2006-11-01  Double Jeopardy!             OPERA SETTINGS
113836         3852  2001-05-08         Jeopardy!            THE EARLY 1900s
119379         5603  2009-01-07  Double Jeopardy!           ALL THINGS OPERA
123267         2352  1994-11-22  Double Jeopardy!                      OPERA
130288         5883  2010-03-24  Double Jeopardy!  COMPLETES THE OPERA TITLE
131195         5091  2006-10-30  Double Jeopardy!                      OPERA
133555         4290  2003-04-04  Double Jeopardy!                      OPERA
143393         1882  1992-11-10         Jeopardy!                      OPERA
147564         6099  2011-03-03  Double Jeopardy!     THE SYDNEY OPERA HOUSE
160568         4210  2002-12-13  Double Jeopardy!                      OPERA
160884         3246  1998-10-19  Double Jeopardy!            PLACIDO DOMINGO
163066         5616  2009-01-26  Double Jeopardy!                OPERA WOMEN
164941         2856  1997-01-20  Double Jeopardy!                      OPERA
170851         3347  1999-03-09  Double Jeopardy!   GHASTLY OPERATIC DEMISES
179275         3539  2000-01-13  Double Jeopardy!                      OPERA
185046         5176  2007-02-26  Double Jeopardy!                      OPERA
185416         5316  2007-10-22  Double Jeopardy!              REARRANGE 'EM
189393         5381  2008-01-21  Double Jeopardy!                OPERA NAMES
216925         4999  2006-05-11  Double Jeopardy!             RIDDLE ME THIS

         value                                           question  \
3723      $800  Musetta has her very own waltz in Act II of th...
4970      $800  The rock opera "Rent" is a reworking of this P...
12286    $1200           Puccini's last opera, it's set in Peking
14315    $1000  Drops of blood from the ceiling reveal where a...
15951     $500  A tale of doomed & impoverished artists, this ...
28387    $1600  In a Puccini opera, he marries then abandons C...
42342     $600  This maker of artificial flowers is in love wi...
43529     $800  (<a href="http://www.j-archive.com/media/2011-...
52465     $800  In 1932 Cary Grant played Lt. Pinkerton in a n...
53669    $2000  Busoni's opera about this cruel Chinese prince...
55270     $800  This Puccini opera set in Paris was first prod...
55711     $800  Distraught that Lt. Pinkerton abandoned her, t...
55892    $1000  Puccini opera that features the prelude heard ...
56946     $400  Puccini included a passage from "The Star-Span...
58294    $1000                   Puccini's Pekingese princess (8)
60116     $800  A flop when it debuted in 1904, this Puccini o...
68794   $2,000  His last name begins with the 5-letter title o...
72653     $600                              Puccini: "Oh Be Lame"
76747    $1000  Last name of the gossip in Menotti's "The Old ...
85802     $400  Rodolfo burns his poems to keep the stove goin...
91388     $600  Puccini's "Madama Butterfly" takes place in th...
110152   $2000  This Puccini opera takes place in California d...
113836    $500  This 1904 Puccini opera partly inspired a 1980...
119379   $1600  The role Placido Domingo has played more than ...
123267    $400  Title shared by the Puccini and Leoncavallo op...
130288    $800             Puccini: "The Girl of the Golden ____"
131195   $1600  In operas by Massenet & Puccini, it's the give...
133555   $2000  This Puccini title heroine's first name is Floria
143393    $200  Both Stravinsky's "The Nightingale" & Puccini'...
147564   $2000  (<a href="http://www.j-archive.com/media/2011-...
160568    $800  Much of this Puccini opera takes place in a ca...
160884    $800  Placido has conducted this Puccini opera, as w...
163066   $1600  How convenient--the title character of this Pu...
164941    $400  In this Puccini work, Sharpless, the American ...
170851    $800  After she stabs Scarpia, this Puccini heroine ...
179275    $800  In a Puccini opera, this prima donna is pursue...
185046    $800  The title of this Puccini opera deals with a p...
185416   $1600                Wear an ascot to this Puccini opera
189393    $400  The title figure of this Puccini opera is Cio-...
216925   $2000  This Puccini opera turns on the solution to 3 ...

                             answer
3723                      La boheme
4970                    "La Boheme"
12286                      Turandot
14315   The Girl of the Golden West
15951                   "La boheme"
28387                     Pinkerton
42342                          MimÃ¬
43529                     La bohÃ¨me
52465              Madame Butterfly
53669                      Turandot
55270                     La boheme
55711              Madame Butterfly
55892              Madama Butterfly
56946              Madame Butterfly
58294                      Turandot
60116              Madame Butterfly
68794            (Arturo) Toscanini
72653                     La bohÃ¨me
76747                     Pinkerton
85802                     La Boheme
91388                         Japan
110152  The Girl of the Golden West
113836             Madame Butterfly
119379                        Tosca
123267                    La bohÃ¨me
130288                         West
131195                        Manon
133555                        Tosca
143393                        China
147564             (Kiri Te) Kanawa
160568                    La boheme
160884                    La bohÃ¨me
163066                        Tosca
164941           "Madame Butterfly"
170851                        Tosca
179275                      "Tosca"
185046                    La bohÃ¨me
185416           Tosca (from ascot)
189393             Madame Butterfly
216925                     Turandot

In [4]:
#Adding a column for question value as a float for computation
jeopardy['value_float'] = jeopardy['value'].str.replace('$', '', regex=True)
jeopardy['value_float'] = jeopardy['value_float'].str.replace(',', '', regex=True)
jeopardy['value_float'] = pd.to_numeric(jeopardy['value_float'], errors='coerce')

#Function to see the difficulty on different topics

def difficulty(words):
    topic = words_in_question(words)
    average = topic.value_float.mean()
    return average

#Testing difficulty function
difficulty('King')

764.9599636561875

In [5]:
# Function to get the count of all unique answers for questions containing certain words
def get_answer_counts(words):
    topic = words_in_question(words)
    return topic['answer'].value_counts()

# Testing get_answer_counts function
print(get_answer_counts(['King']))

Sweden                  19
Norway                  11
Scotland                11
Denmark                 10
Morocco                 10
                        ..
Ferris Bueller           1
The Three Musketeers     1
Indus                    1
Cobras                   1
"The Dark Tower"         1
Name: answer, Length: 1115, dtype: int64

## Quiz yourself with the dataset!

In [23]:
#Function to quiz yourself
def quiz_me(data):
    question_index = random.randint(0, len(data))
    guess = input(data.question[question_index] + ' ')
    if data.answer[question_index] in guess or guess in data.answer[question_index]:
        print(guess + " is correct!")
    else:
        print("Incorrect. " + data.answer[question_index] + " is the correct response.")
    return 

#Running the function
quiz_me(jeopardy)

She won an Oscar for her portrayal of waitress Alice Hyatt Burstyn
Burstyn is correct!